<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asia-data</title>
</head>
<body>
    <h1>Asia data POG!</h1>

    <h3>
        Active cases
        <%=asia_active%>
    </h3>
    <h3>
        Recoverd cases
        <%=asia_recoverd%>
    </h3>

    <h3>
        <%=asia_cases%>
    </h3>

    <h3>
        <%=asia_updated%>
    </h3>

    <h3>
        <%=population%>
    </h3>

    <h3>
        <%=activeperonemillon%>
    </h3>
</body>
</html>