<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/asia-card.css">
    <!-- Using inline style -->
    <style>

.wrapper {
  height: 100vh;
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-demo {
  width: 85ch;
  animation: typing 2s steps(40), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
  text-align: center;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}


        .main-heading{
            text-align: center;
        }

        
        .Cases-area{
            padding-top:3rem;
            text-align: center;
        }

        .active-cases{
            padding-bottom: 1.5rem;
        }

        .recoverd_cases{
            padding-bottom: 1.5rem;
        }

        .current-cases{
            padding-bottom: 1.5rem;
        }
        .updated-cases{
            padding-bottom: 1.5rem;

        }

        .population{
            padding-bottom: 1.5rem;

        }

        .permill{
            padding-bottom: 1.5rem;

        }

        .text-semibold{
            font-size: 3rem;
        }

        .text-primary-lighter {
            background-color: #2b8ede;
}



    </style>
    <title>Asia-data</title>
</head>
<body>
    <nav class="navbar navbar-light sticky-top ">
        <div class="container-fluid">
          <a class="navbar-brand" href="/user/search/asia-card">Asia-data</a>
          <a class="navbar-brand" href="/user/logout"> <button class="btn btn-outline-primary">
              logout
          </button> 

          <a class="navbar-brand" href="/user/search"> <button class="btn btn-outline-primary">
            Back to browse
        </button> 

          </a>
    <!-- <a class="navbar-brand" href="/about-us"><button>Covid-19 precautions</button></a> -->
        </div>
      </nav>

      
    <h1 class="main-heading">Asia Cases</h1>

    <div class="Cases-area text-primary-lighter ">

    <h3 class="active-cases typing-demo">
        Active cases
        <%=asia_active%>
    </h3>
    <h3 class="recoverd_cases typing-demo">
        Recoverd cases
        <%=asia_recoverd%>
    </h3>

    <h3 class="current-cases typing-demo">
        Current cases
        <%=asia_cases%>
    </h3>

    <h3 class="updated-cases typing-demo">
        Updated cases
        <%=asia_updated%>
    </h3>

    <h3 class="population typing-demo">
        Total population
        <%=population%>
    </h3>

    <h3 class="permill typing-demo">
        Activeperonemillon test cases
        <%=activeperonemillon%>
    </h3>

    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>


</html>