<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap" rel="stylesheet">

    <style>
      .main-heading{
        margin-left:600px;
      }
      .main-carousle{
        margin-left:700px;
      }
      .text-6xl{
        font-size:4rem;
        font-weight: 700;
      }
      .px{
        padding-top: 2rem;

      }
      .text-5{
        margin-left:650px;
        font-size:3rem;
      }
      .text-primary-lighter {
    --text-opacity: 1;
    color: #2b8ede;
    color: rgba(43.24799999999999,141.53520000000003,221.95200000000003,var(--text-opacity));
}
    .bg-gray-400{
      --text-opacity:1;
      background-color: #2b8ede;
    }
    .mx-1{
      margin-top:200px;
    }

    .font-semibold{
      font-weight:600;
      font-family: 'Oxygen', sans-serif;
    }
    .blue {
    background-color: #add8e6;
}
.px-1{
  padding-top:3rem;
}
.px-2{
  padding-bottom:3rem;
}

.white{
  color:black;
  font-weight:600;
}
.center{
  text-align: center;
}
.card-1{
  margin-left:200px;
  padding-top:3rem;
}
.card-2{
  margin-left:500px;
  margin-top:-400px;
  padding-right:3rem;
}

.card-3{
  margin-left:800px;
  margin-top:-300px;
  
}

.card-4{
  margin-left:1200px;
  margin-top:-400px
}

.map-feature{
  margin-left:700px;
}

    </style>
    <title>Covidm</title>
    </head>
<body>

  <nav class="navbar navbar-light sticky-top ">
    <div class="container-fluid">
      <a class="navbar-brand" href="/user">Covidm</a>
      <a class="navbar-brand" href="/user/logout"> <button class="btn btn-outline-primary">
          logout
      </button> 
      </a>
<!-- <a class="navbar-brand" href="/about-us"><button>Covid-19 precautions</button></a> -->
    </div>
  </nav>

  <div class="div-1">
    <h1 class="main-heading text-6xl">Cases Status</h1>
  </div>

  <div class="world-data bg-gray-400 , mx-1 blue">
    <h3 class="text-5 px font-semibold ">World Data</h3>

    <div id="carouselExampleIndicators" class="carousel slide px-1" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <!-- <img src="..." class="d-block w-100" alt="..."> -->
          <h1 class=" main-carousle px-2 white ">India</h1>
          <h1 class="main-heading px-2 white">
            Number Of cases
            <%=cases%>
          </h1>

          <h1 class="main-heading px-2 white">
            Active
            <%=active%>
          </h1>

          <h1 class="main-heading px-2 white">
            Deaths
            <%=deaths%>
          </h1>

          
          <h1 class="main-heading px-2 white">
            Recoverd
            <%=recoverd%>
          </h1>


        </div>
        <div class="carousel-item">
          <h1 class="main-heading  px-2">Our api</h1>
          <p class="font-semibold center px-2">
            Welcome to the Covidm api v1.0.0
            For more info about the api visit - <a href="https://github.com/Covidm/Covidm-api">Docs</a>
            Designed and developed by <a href="https://github.com/code123841">Udhay rajeev</a>
          </p>
          <h1>
          </h1>

          <h1>
          </h1>
        </div>

        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

</div>

<div class="cards">
  <h1 class="px-1 main-heading">Continents status</h1>

  <!-- ASIA -->
  <div class="card-1" style="width: 18rem;">
    <img src="/images/asia.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Asia</h5>
      <p class="card-text">View the total number of cases in Asia.</p>
      <a href="/user/search/asia-card" class="btn btn-primary">Go</a>
    </div>
  </div>


  <div class="card-2" style="width: 18rem;">
    <img src="/images/Usa.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">USA</h5>
      <p class="card-text">View the total number of cases in USA.</p>
      <a href="/user/search/usa-card-info" class="btn btn-primary">Go</a>
    </div>
  </div>

  <div class="card-3" style="width: 18rem;">
    <img src="/images/austrlia.jpg"class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Australia</h5>
      <p class="card-text">View the total number of cases in Australia.</p>
      <a href="" class="btn btn-primary">Go</a>
    </div>
  </div>

  <div class="card-4" style="width: 18rem;">
    <img src="/images/Africa.jpg"class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Africa</h5>
      <p class="card-text">View the total number of cases in Africa</p>
      <a href="#" class="btn btn-primary">Go</a>
    </div>
  </div>



  <div class="map-feature">
    <p>
      <a href="/user/search/map-beta-version-1">
        <button class="btn btn-primary">
          Map Feature (beta)
  
        </button>
      </a>

    </p>

  </div>
  


</div>
<!-- 
<h1>India Cases</h1>
  <h3><%=cases%></h3> -->

    
</body>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
</html>