<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Africa-data Covim</title>
</head>
<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-light sticky-top ">
        <div class="container-fluid">
          <a class="navbar-brand" href="/user/search/usa-card-info">Usa-data</a>
          <a class="navbar-brand" href="/user/logout"> <button class="btn btn-outline-primary">
              logout
          </button> 
          </a>
    <!-- <a class="navbar-brand" href="/about-us"><button>Covid-19 precautions</button></a> -->
        </div>
      </nav>

      <h1>Africa cases</h1>

      <h2>
          Updated cases
          <%=africa_updated%>
      </h2>

      <h2>
          Cases: 
          <%=africaCases%>
      </h2>

      <h2>
          Deaths: 
          <%=africatodayDeaths%>
      </h2>

      <h2>
          Recoverd: 
           <%=africaRecoverd%>
      </h2>

      <h2>
          TodayRecoverd: 
          <%=afircaTodayrecoverd%>

      </h2>

      <h2>
          Active: 
          <%=africaActive%>
      </h2>

      <h2>
          Critial: 
          <%=africaCritical%>
      </h2>

      <h2>
          Caseperonemillion
          <%=africaCaseperonemill%>
      </h2>

      
      
    
</body>
</html>